/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***********************************************************
********************END RESET CSS***************************
************************************************************/

body {
    background-color: LightGray;
    font-family: 'Roboto', sans-serif; 
}

div {
    border: 1px solid Chocolate;
}

.nav-links,
.nav-links li,
.logo {
	display: inline-block;
}

.top-navigation {
	background: white;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 1px 1px 1px -1px gray;
}

.content {
	padding: 0 0.938rem;
	min-width: 37.5rem;
	width: 970px;
	margin: 0 auto;
	width: 970px
}

.top-navigation > .content {
    height: 4.375rem;
}

.nav-links {
	float: right;
	font-size: 1.04rem; 
	color: #838994; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	margin-top: 1.7rem;	
}

.top-navigation .nav-links li {
	margin-left: 1.563rem;
}

.logo {
	height: 4.375rem;
	width: 26px;
}

.top-navigation .nav-links > .active {
    color: #4c5058;
    font-weight: 500;
}


.top-navigation .nav-links a {
	text-decoration: none;
	color: #999;
}

.top-navigation .nav-links a:hover {
    cursor: pointer;
    color: #333333;
}


.nav-links a:visited {
	color: inherit;
}

.introduction {
	background-image: url('../images/first-background copy.jpg');
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	height: 45.938rem;
}

.introduction h1,
.introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}

.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}

.introduction h3 {
	margin-top: 1.523rem;
	font-size: 1.56rem;
}

.big-button {
	background-color: #f15a29;
	border-radius: 4px;
	color: white;
	padding: 1rem 1.5rem;
	font-size: 1.25rem;
	border-color: #f15a29;
	border-style: none;
	text-shadow: none;
	display: block;
	margin: 0 auto;
	margin-top: 1.563rem;
}

.big-button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
}